.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    text-decoration: none;
}

@media(max-width:1000px) {
    .NavigationItems {
        flex-direction: column;
    }
}